<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.product.mapper.ProductMapper">
	<select id="productList" resultType="product">
		select *
		from product
		order by prod_sale desc
	</select>
	<select id="productNewList" resultType="product">
		select *
		from product
		order by prod_date desc
	</select>
	<select id ="categoryList" parameterType = "int" resultType="product">
		select p.*
    	from product p
    	join category c on p.category_code = c.category_code
    	where c.top_category = #{categoryCode}
	</select>
	<select id = "menuCategory" parameterType = "int" resultType="product">
		select *
		from product
		where category_code = #{categoryCode}
	</select>
	<select id="productMdList" resultType="product">
		select *
		from product
		order by prod_price desc
	</select>
	<select id="productCheapList" resultType="product">
		select *
		from product
		<![CDATA[
		where prod_price <= 3000
		]]>
	</select>
	<select id="productInfo" parameterType="int" resultType="product">
		select *
		from product
		where prod_no = ${prodNo}
	</select>
	
	
	
</mapper>