<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.product.mapper.ProductMapper">
	<select id="productList" resultType="product">
		select *
		from product
		order by
		prod_sale desc
	</select>
	<select id="productNewList" resultType="product">
		select *
		from product
		order by prod_date desc
	</select>
	<select id="categoryList" parameterType="int" resultType="product">
		select p.*
		from product p
		join category c on p.category_code
		= c.category_code
		where c.top_category = #{categoryCode}
	</select>
	<select id="menuCategory" parameterType="int" resultType="product">
		select *
		from product
		where category_code = #{categoryCode}
	</select>
	<select id="productMdList" resultType="product">
		select *
		from product
		order
		by prod_price desc
	</select>
	<select id="productCheapList" resultType="product">
		select *
		from product
		<![CDATA[
		where prod_price <= 3000
		]]>
	</select>
	<select id="productInfo" parameterType="int" resultType="product">
		select *
		from product
		where prod_no = ${prodNo}
	</select>

	<select id="searchProduct" parameterType="search" resultType="product">
		select p.*, c.category_name,
			(select count(1) 
			 from review r 
			 where r.prod_no = p.prod_no) as review_cnt
		from product p
		join category c on p.category_code = c.category_code
		where (c.category_name like '%' || #{keyword} || '%'
		or p.prod_name like '%' || #{keyword} || '%'
		or p.prod_no like '%' || #{keyword} || '%')
		order by
		<choose>
			<when test="filter == 'highPrice'">
				p.prod_price desc
			</when>
			<when test="filter == 'lowPrice'">
				p.prod_price asc
			</when>
			<when test="filter == 'new'">
				p.prod_date desc
			</when>
			<when test="filter == 'sales'">
				p.prod_sale desc
			</when>
			<when test="filter == 'reviews'">
				review_cnt desc
			</when>
			<otherwise>
				p.prod_price desc
			</otherwise>
		</choose>
	</select>

	<select id="getTotalCnt" parameterType="search" resultType="int">
		select count(1)
		from product p
		where (c.category_name like '% || #{keyword} || '%'
		or p.prod_name like '%' || #{keyword} || '%'
		or p.prod_no like '%' || #{keyword} || '%')
	</select>
	
	<update id="updateProductScore" parameterType="map">
		 update product
         set prod_score = #{avgScore}
         where prod_no = #{prodNo}
	</update>
	  <select id="filterProductTopList" parameterType="map" resultType="product">
    select p.*,
           (select count(1)
            from review r
            where r.prod_no = p.prod_no) as review_cnt
    from product p
    join category c on p.category_code = c.category_code
    where c.top_category = #{categoryCode}
    <choose>
        <when test="filter == 'highPrice'">
            order by p.prod_price desc
        </when>
        <when test="filter == 'lowPrice'">
            order by p.prod_price asc
        </when>
        <when test="filter == 'new'">
            order by p.prod_date desc
        </when>
        <when test="filter == 'sale'">
            order by p.prod_sale desc
        </when>
        <when test="filter == 'review'">
            order by review_cnt desc
        </when>
    </choose>
   </select>

   <select id="filterProductList" parameterType="map" resultType="product">
         select p.*,
              (select count(1)
            from review r
            where r.prod_no = p.prod_no) as review_cnt
       from product p
       where p.category_code = #{categoryCode}
       <choose>
           <when test="filter == 'highPrice'">
                 order by p.prod_price desc
           </when>
           <when test="filter == 'lowPrice'">
               order by p.prod_price asc
           </when>
           <when test="filter == 'new'">
               order by p.prod_date desc
           </when>
           <when test="filter == 'sale'">
               order by p.prod_sale desc
           </when>
           <when test="filter == 'review'">
               order by review_cnt desc
           </when>
       </choose>
   </select>
</mapper>