<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.order.mapper.OrderMapper">
  <select id="selectCartList" parameterType="String" resultType="map">
    select p.prod_no, p.prod_name, p.prod_price, p.prod_image, c.cart_cnt
    from cart c
    join product p
    on c.prod_no = p.prod_no
    where c.user_id = #{userId}
  </select>
  
  <select id="selectCart" resultType="map">
    select p.prod_no, p.prod_name, p.prod_price, p.prod_image, c.cart_cnt
    from cart c
    join product p
    on c.prod_no = p.prod_no
    where c.user_id = #{userId}
    and c.prod_no = #{prodNo}    
  </select>
  
  <delete id="deleteCart" parameterType="cart">
    delete from cart
	where user_id = #{userId}
	and prod_no = #{prodNo}
  </delete>
  
  <update id="updateCart" parameterType="cart">
    update cart
    set cart_cnt = #{cartCnt}
    where prod_no = #{prodNo}
    and user_id = #{userId}
  </update>
    
  <insert id="insertCart" parameterType="cart">
    insert into cart(cart_no, user_id, prod_no, cart_cnt)
    values(cart_seq.nextval, #{userId}, #{prodNo}, #{cartCnt})
  </insert>
  
  <select id="checkCart" parameterType="cart" resultType="int">
  	select count(*)
    from cart
    where user_id = #{userId} and prod_no = #{prodNo} 
  </select>
  
  <select id="selectMember" parameterType="String" resultType="member">
    select user_name, user_post, user_addr, user_detail_addr
    from users
    where user_id = #{userId}
  </select>
  

</mapper>