<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias alias="product" type="com.shop.vo.ProductVO" />
		<typeAlias alias="member" type="com.shop.vo.MemberVO" />
		<typeAlias alias="board" type="com.shop.vo.BoardVO" />

	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="mid" />
				<property name="password" value="mid" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/shop/product/mapper/ProductMapper.xml" />
		<mapper resource="com/shop/order/mapper/OrderMapper.xml" />
		<mapper resource="com/shop/admin/mapper/AdminMapper.xml" />
	</mappers>
</configuration>