<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.admin.mapper.AdminMapper">
	<select id="adminProductList" resultType="product">
		select
		prod_name,prod_comment,prod_price,prod_sale,prod_date,category_name
		from product p join category c
		on p.category_code = c.category_code
		order by p.category_code
	</select>
	<select id="adminMemberList" resultType="member">
		select *
		from users
	</select>
	<select id="adminBoardList" resultType="board">
		select *
		from board
		where
		board_status = 'n'
	</select>
	<select id="adminBoardInfo" resultType="board">
		select *
		from board
		where
		board_no = #{bno}
	</select>
	<select id="adminOrderList" resultType="order">
		select *
		from orders
		where
		order_status = 1 or order_status = 2 or order_status = 3
		order by
		order_status
	</select>
	<select id="adminCancleList" resultType="order">
		select *
		from orders
		where order_status = 4 or order_status = 5
		order by order_status
	</select>
	<update id="adminCancleAgree" parameterType="int">
		update orders
		set
		order_status = 5
		where order_no = #{ono}
	</update>
	<select id="adminReturnList" resultType="order">
		select *
		from orders
		where order_status = 6 or order_status = 7
		order by order_status
	</select>
	<update id="adminReturnAgree" parameterType="int">
		update orders
		set
		order_status = 7
		where order_no = #{rno}
	</update>
	<select id="topAdminCategoryList" resultType="category">
		select *
		from category
		 <![CDATA[
       where category_code < 10
  			]]>
	</select>
	<select id="adminCategoryList" resultType="category">
		select *
		from category
		where top_category = #{cno}
	</select>
	<insert id="adminAddProductControl" parameterType="product">
		insert into
		product(prod_no,category_code,prod_name,prod_comment,prod_price,prod_image)
		values(90,#{categoryCode},#{prodName},#{prodComment},#{prodPrice},#{prodImage})
	</insert>
</mapper>